<div class="col-md-8 d-flex flex-column align-items-center">
    <% if(data.length > 0) { %> 
    <p>The exams that belongs to you, are listed below.</p>
    <ul class="col-md-8 list-group">
        <% data.map(exam=> { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                    <%= exam.Title %>
                <div>
                    <a class="btn btn-secondary" href="/exam/details/<%= exam.ID %>">DETAILS</a>
                </div>
            </li>
        <% }) %>
    </ul>
    <% } else { %>
        <p class="text-muted">Sorry, we can not find any exam that belongs to you! But you can create one easily.</p>
    <% } %>
    <a href="/exam/create" class="btn btn-primary mt-3">Create an Exam</a>
</div>