<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">Online Examination System</a>
        <a href="/user/logout" class="btn btn-secondary">
            Logout
        </a>
    </div>
</nav>